<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="speaker">
            <h2><span>Speaker</span> {{ speaker.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ speaker.firstName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ speaker.lastName }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ speaker.email }}</span>
                </dd>
                <dt><span>Twitter</span></dt>
                <dd>
                    <span>{{ speaker.twitter }}</span>
                </dd>
                <dt><span>Bio</span></dt>
                <dd>
                    <span>{{ speaker.bio }}</span>
                </dd>
                <dt><span>Session</span></dt>
                <dd>
                    <span *ngFor="let session of speaker.sessions; let last = last">
                        <a [routerLink]="['/session', session?.id, 'view']">{{ session.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/speaker', speaker.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
